.jumbotron {
  height: 300px;
  text-align: center;
  color: #2C2926;
}

.buail-red {
  background-color: #BD3420;
}

.buail-black {
  color: #2C2926;
  font-weight: bold;
}

.output {
  padding: 5px;
  text-align: center;
}

.definitions {
  font-weight: bold;
}

footer {
  color: #EFEFEF;
  background-color: #BD3420;
  margin-top: 2em;
  padding: 2em 0.5em; 
  text-align: center;
}
